#bg {
    /*background-image: url(https://source.unsplash.com/1920x1080/?nature,ocean,city,space,forest,water,island);*/
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -10;
    /*transform: scale(1.1);*/
    /*filter:blur(8px);*/
    transition: background 0.25s linear;
}

body, html {
    height: 100%;
    margin: 0;
    overflow: hidden;
}

* {
    box-sizing: border-box;
}

.container-fluid {
    z-index: 10;
}

.circleround {
    border-radius: 50% !important;
}

.round {
    border-radius: 100px;
}

#header .col {

}

#body {
    padding: 15px;
}

.footer {
    position: fixed;
    bottom: 15px;
    width: calc(100% - 30px);
}

.footer h3, .footer h4 {
    margin-bottom: 0;
}

.search {
    max-width: 900px;
    margin-bottom: 0 !important;
}

#searchform {
    margin: 0 auto;
}

.logoimg {
    display: inline-block;
    height: 1em;
    margin-right: 5px;
    margin-top: -7px;
}

.weatherimg {
    display: inline-block;
    height: 1em;
}

a.popper {
    color: inherit;
    cursor: pointer;
    text-decoration: none;
}

.menu-btn {
    cursor: pointer;
}

a.popper:hover {
    color: inherit;
    text-decoration: inherit;
}

a.popper:focus {
    outline: inherit;
}

.popover {
    max-width: initial;
}

#blurslider, #textslider {
    width: 50%;
}

.modal-body p {
    margin-bottom: 3px;
}

.br {
    height: 12px;
}

#menu .modal-footer {
    justify-content: space-between;
}

.nodisplay {
    display: none !important;
}

.weatherblock {
    /*height:70px;*/
    /*width:60px;*/
    overflow: hidden;
    display: inline-block;
    border-radius: 5px;
    background-color: var(--bs-secondary);
    padding: 5px;
    margin: 3px;
    text-align: center;
}

.weatherblock p {
    margin-bottom: 1px;
}

.rainp {
    color: #3498DB;
}

.weatherdiv {
    display: none;
}

.low {
    color: #ccc;
}

.high {
    color: #fff;
}

.popover .climacon, .tooltip .climacon {
    font-size: 120%;
}

.pfix {
    margin-bottom: 0;
}

.text-break {
    margin: 0 7px;

}

.bug-report:hover {
    color: #bbb;
    text-decoration: inherit;
}

.bug-report {
    color: inherit;
}

.text-size {
    font-size: 100%;
}

.weatherblock * {
    vertical-align: middle;
}

#bgrefresh {
    width: 100px;
}

.data {
    display: none;
}

.tooltip-inner {
    max-width: 600px;
}

.btn-circle {
    border-radius: 700px;
    text-align: center;
    vertical-align: middle;
    height: 30px;
    width: 30px;
    margin: 0 2px;
}

.btn-circle svg {
    vertical-align: -.125em;
}

.whourlycontent {
    overflow-x: scroll;
    width: 500px;
    display: block;
    white-space: nowrap;
    scrollbar-color: dark;
    margin-bottom: 5px;
}

::-webkit-scrollbar {
    background-color: #202324;
    color: #aba499;
    height: 15px;
}

::-webkit-scrollbar-thumb {
    background-color: #454a4d;
}

::-webkit-scrollbar-track, ::-webkit-scrollbar-thumb {
    border-radius: 15px !important;
}

.form-control, .form-control:focus {
    background: var(--bs-secondary);
    color: #ccc;
}

#tooltipmargin {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    padding: 10px;
    pointer-events: none;
}

.floating-text {
    text-shadow: 0 0 1rem rgb(0 0 0 / 70%);
}

.progress-text-center {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 10;
    text-align: center;

}

.progress-text-center span {
    vertical-align: center;
}

#alerts p {
    margin: 0;
}

#alerts a:hover {
    filter: brightness(80%);
}

#alerts a {
    color: inherit;
    text-decoration: none;
}